@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.histoire {
    padding: 60px 20px;
    background-color: $white;
    display:flex;
    flex-direction:column;
    align-items:center;

    @include desktop {
        flex-direction: row;
        justify-content:center;
        align-items:center;
        gap:80px;
    }

    .image-container {
        width:180px;
        height:180px;
        margin-bottom:40px;
        border-radius:50%;
        overflow:hidden;

        @include tablet {
            width:180px;
            height:180px;
        }

        @include desktop {
            width:450px;
            height:450px;
            min-height:450px;
            max-height:450px;
            min-width: 450px;
            max-width: 450px;
        }

        img {
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }

    .content-wrapper {
        max-width: 330px;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;

        @include tablet {
            max-width:600px;
            align-items:flex-start;
            text-align:left;
        }

        @include desktop {
            max-width:550px;
        }
    
    .quote-svg {
        width:40px;
        margin-bottom:20px;
        
        @include desktop {
            align-self:flex-start;
        }
    }

    h1 {
        font-family:$font-main;
        font-size:2.2rem;
        font-weight:900;
        color:$black;
        margin-top:0;
        margin-bottom:30px;
        line-height:1.1;
        text-align:center;
        width:100%;

        @include tablet {
            text-align:left;
            font-size:2.8rem;
        }

        @include desktop {
            text-align:left;
            font-size:2rem;
        }
    }

    p {
        font-family:$font-family;
        font-size:0.9rem;
        line-height:1.6;
        color:$black;
        font-weight:300;
        margin-bottom: 25px;
        text-align:left;

        @include desktop {
            text-align:left;
            font-size:1rem;
        }

        @include tablet {
            text-align:left;
        }
    }
    
    button {
        background-color:$yellow;
        color:$white;
        border:none;
        padding:12px 20px;
        font-family:$font-family;
        font-size:0.80rem;
        align-self:flex-start;

        @include desktop {
            align-self:flex-start;
        }
    }
    }
}