@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.promotion {
    background-image: url('images/haute-couture-2.jpg');
    background-size:cover;
    background-position:center;
    height:300px; /*taille parfaite pour le mobile*/
    width:100%;/*prend toute la largeur*/
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0; /*supprime les marges*/

    h1 {
        background-color: rgba($white,0.9); /*le 0.9 permet 10% de transparence*/
        padding:30px 25px;
        font-size:1.7rem;
        text-align:center;
        width:260px; /*taille du rectangle blanc*/
        line-height:1.2; 
        font-family:$font-main;
        margin:0;
    }
}