@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.signature {
    background-color: $yellow;
    padding: 60px 15px;
    text-align:center;
    color:$white;

    h1 {
        font-family:$font-main;
        font-size:1.5rem;
        font-weight:500;
        margin-bottom:40px;

        @include desktop {
            font-size:2.5rem;
            margin-bottom:60px;
        }
    }

    .container-gateaux {
        display:flex;
        flex-direction:column;
        align-items:center;

        @include desktop {
            flex-direction:row;
            justify-content: center;
            gap:40px;
            max-width: 1200px;
            margin:0 auto;
            align-items:flex-start;
        }
    }

    .irresistible, .delicat, .impetueux {
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-bottom:30px;

        @include desktop {
            flex:1;
            margin-bottom:0;
        }


        img {
            width: 100%;
            max-width:300px;
            margin-bottom:25px; /*espace entre l'image et le sous-titre*/
            object-fit:cover;
        }

        h2 {
            font-family: $font-main;
            font-size:1.4rem;
            font-weight:500;
            margin-top:0; /*ajoute un espace avec le paragraphe*/
            margin-bottom:50px; /*pareil mais en bas*/
        }
        p {
            font-family:$font-family;
            font-size:0.9rem;
            font-weight:300;
            line-height:1.6;
            max-width:340px;
            text-align:center;
            margin:0;

            @include tablet {
                max-width:600px;
                font-size:1rem;
            }

            @include desktop {
                max-width:100%;
            }
        }
    }
    button {
        background-color: transparent;
        color:$white;
        border:1px solid $white;
        padding:15px 25px;
        font-family:$font-family;
        font-size:0.8rem;
        width:auto;
        max-width:95%;
        white-space:nowrap;
        margin-top:50px;
        display:inline-block; /*reste au centre sur toutes les résolutions*/

        @include desktop {
            margin-top:60px;
            font-size:0.9rem;
            padding:20px 40px;
        }


        &:hover {
            background-color:$white;
            color:$yellow;
        }
    }
}