@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    background-color: $black;
    color: $white;
    padding: 70px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-content {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:100%;

        @include tablet {
            flex-direction:row !important;/*aligne les colonnes horizontalement*/
            justify-content:space-between !important;
            align-items:flex-start !important; /*aligne le haut des colonnes*/
            padding: 0 5% !important;
            gap:20px;
        }
    }

    .footer-logo {
        margin-right:0;
        padding-left:0;

        @include tablet {
            margin-right:20px;
            flex: 0 0 auto;
        }

            img {
                display:block;
                max-width:180px;
            }
        }
    
    .footer-contact{
        max-width:200px;

        p,a {
            white-space:normal;
        }
    }

    .footer-logo, .footer-nav, .footer-contact, .footer-hours, .footer-socials{
        margin-bottom:10px!important;
        flex: 0 1 auto;
        min-width:0;

         @include tablet {
            margin-bottom:0 !important;
        }
    }

    .footer-nav ul {
        list-style:none;
        padding:0;
        margin:0;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        gap:0;

        li {
            margin:0;
            padding:0;
            line-height:1.4;
            white-space:nowrap;
            &.active {color:$yellow;}
        }
    }

    .footer-contact {
      gap:0;

      p:first-child {
        margin-bottom:15px;
      }

      p, a {
        margin:0;
        line-height:1.4;
      }
    }

    .footer-hours {
        gap:0;

        h3, .title-hours{
            margin-bottom:15px;
        }

        p{
            margin:0;
            line-height:1.5;
        }
    }

    .footer-socials{
        margin-right:0;

        p, span, h3, h4 {
            margin:0 !important;
            white-space:nowrap;
        }

        .icons {
            display:flex !important;
            gap:10px !important;
            margin:10px;

            a {
                display:block;
                
            i { 
                color:$white !important; 
                font-size:1.4rem;
                }
            }
        }
    @include tablet {
        text-align:right;
        display:flex;
        flex-direction:column;
        align-items:flex-end !important;
    }
}

    .mentions {
        width: 100%;
        box-sizing:border-box;
        border:1px solid $yellow;
        padding: 25px 0;
        margin:40px auto 0;
        display:flex;
        flex-direction:column;
        align-items:center;

        @include tablet {
            flex-direction:row !important;
            justify-content:center !important;
            gap:50px;
        
            p:first-of-type {
            margin-bottom:0 !important;
            }
       }
    }
}