@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
    padding:20px 0; /*espace avec le haut de la page*/
    text-align:center; /*aligne tous les textes du header*/

    @include tablet {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 20px 5px;
        max-width:720px;
        margin:0 auto;
    }

    @include desktop {
        max-width:1140px;
        padding:20px 60px;
    }

    img {
        width:120px;
        margin-bottom:15px;
        
        @include tablet {
            margin-bottom:0;
            width:150px;
        }
    }
}
 
nav {
        ul {
        display:flex;
        flex-direction:column;
        gap:10px;
        padding:0;
        list-style:none;

        @include tablet {
            flex-direction:row;
            justify-content:center;
            gap:20px;
        }

        @include desktop {
            gap:40px;
        }
        
        li {
            &:first-child a {
                color:$yellow;
                }
            }

        a {
            text-decoration:none;
            color:$black;
            font-weight:bold;
            text-transform:uppercase;
            font-size:0.9rem;
            }
        }
    }